.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
.libs/
*.lo
*.o
*.la
*.bc
*.ll
test-driver
tests/jayhawk_tests
*.log
*.trs
tests/dominance_frontier
tests/dominator_tree
tests/dominator_tree_hard
tests/dominator_tree_medium
tests/flipped_cfg
tests/post_dominance_frontiers
